<html>
    <head>
        <title>Plugin and Core Version Matrix for the {{.pluginName}} Plugin</title>
        <link rel="stylesheet" type="text/css" href="pluginversions.css" />
        <script
          src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
          crossorigin="anonymous"></script>
        <script type="text/javascript" src="pluginversions.js"></script>
        <script type="text/javascript">
$(document).ready(function() {
    var versionData = {{.pluginVersionData}};

    parseData(versionData, "{{.pluginName}}");
});
        </script>
    </head>
    <body>
        <table id="versionsContainer"></table>
    </body>
</html>
